<nav class="navbar navbar-expand-md border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/stays"
      ><i class="fa-brands fa-staylinked"></i
    ></a>

    <div class="ms-auto searchBar">
      <form class="d-flex" role="search" action="/stays" method="get">
        <input
          class="form-control me-1 searchInput"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="q"
        />
        <button class="btn searchBtn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pb-3" id="navbarNavAltMarkup">
      <div class="navbar-nav mt-2">
        <a class="nav-link" href="/stays">Explore Stays</a>
        <a class="nav-link" href="/stays/new">List your Space</a>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!currUser) { %>

        <a class="nav-link" href="/login">LogIn </a>
        <a class="nav-link" href="/signup"> SignUp</a>
        <% } else { %>

        <a class="nav-link" href="/logout">LogOut</a>
        <a class="nav-link" href="/bookings">My Bookings</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
