<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mb-3">Turn Your Space into a Stay with Stayzy!</h3>
    <form
      action="/stays"
      method="post"
      class="border rounded p-3 mb-3 needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="stay[title]"
          placeholder="Ex: StayTitle"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Title Required</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="stay[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Description Required</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="stay[image]" class="form-control" />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="stay[price]"
          placeholder="Ex: 2000"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Price Required</div>
      </div>

      <div class="row">
        <div class="mb-3">
          <label for="categories" class="form-label">Select Categories</label>
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="stay[category][]" value="mountain" id="mountain">
            <label class="form-check-label" for="mountain">Mountain</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="stay[category][]" value="beach" id="beach">
            <label class="form-check-label" for="beach">Beach</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="stay[category][]" value="trending" id="trending">
            <label class="form-check-label" for="trending">Trending</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="stay[category][]" value="city" id="city">
            <label class="form-check-label" for="city">City</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="stay[category][]" value="snow" id="snow">
            <label class="form-check-label" for="snow">Snow</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="stay[category][]" value="luxe" id="luxe">
            <label class="form-check-label" for="luxe">Luxe</label>
          </div>
          <div class="invalid-feedback">Category Required</div>
        </div>
      

      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="stay[location]"
            placeholder="Ex: Bangalore"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location Required</div>
        </div>

        <div class="mb-3 col-md-6">
          <label for="state" class="form-label">State</label>
          <input
            type="text"
            name="stay[state]"
            placeholder="Ex: Karnataka "
            class="form-control"
            required
          />
          <div class="invalid-feedback">State Required</div>
        </div>
      </div>

      <button class="btn mb-3 newBtn blueBtn col-12">
        Add Space as a Stay
      </button>
    </form>
  </div>
</div>
